In [25]:
import pyspark as ps
import pandas as pd

In [26]:
df = pd.read_csv('car_ad.csv', encoding='iso-8859-1')
df.head()

,car,price,body,mileage,engV,engType,registration,year,model,drive
0,Ford,15500.0,crossover,68,2.5,Gas,yes,2010,Kuga,full
1,Mercedes-Benz,20500.0,sedan,173,1.8,Gas,yes,2011,E-Class,rear
2,Mercedes-Benz,35000.0,other,135,5.5,Petrol,yes,2008,CL 550,rear
3,Mercedes-Benz,17800.0,van,162,1.8,Diesel,yes,2012,B 180,front
4,Mercedes-Benz,33000.0,vagon,91,NaN,Other,yes,2013,E-Class,NaN

In [27]:
df.shape

(9576, 10)

In [28]:
[i for i in dir(ps) if not i.startswith("_")]

['Accumulator',
 'AccumulatorParam',
 'Any',
 'BarrierTaskContext',
 'BarrierTaskInfo',
 'BasicProfiler',
 'Broadcast',
 'CPickleSerializer',
 'Callable',
 'F',
 'HiveContext',
 'InheritableThread',
 'MarshalSerializer',
 'Optional',
 'Profiler',
 'RDD',
 'RDDBarrier',
 'Row',
 'SQLContext',
 'SparkConf',
 'SparkContext',
 'SparkFiles',
 'SparkJobInfo',
 'SparkStageInfo',
 'StatusTracker',
 'StorageLevel',
 'T',
 'TaskContext',
 'TypeVar',
 'Union',
 'accumulators',
 'broadcast',
 'cast',
 'cloudpickle',
 'conf',
 'context',
 'copy_func',
 'files',
 'find_spark_home',
 'inheritable_thread_target',
 'java_gateway',
 'join',
 'keyword_only',
 'profiler',
 'rdd',
 'rddsampler',
 'resource',
 'resultiterable',
 'serializers',
 'shuffle',
 'since',
 'sql',
 'statcounter',
 'status',
 'storagelevel',
 'taskcontext',
 'traceback_utils',
 'types',
 'util',
 'version',
 'wraps']

In [29]:
spark = ps.sql.SparkSession.builder.appName("session1").getOrCreate()
spark

In [31]:
df_ps = spark.read.csv("car_ad.csv", inferSchema=True, header=True)
df_ps

DataFrame[car: string, price: double, body: string, mileage: int, engV: string, engType: string, registration: string, year: int, model: string, drive: string]

In [32]:
df_ps.columns

['car',
 'price',
 'body',
 'mileage',
 'engV',
 'engType',
 'registration',
 'year',
 'model',
 'drive']

In [39]:
df_ps.show(5)

+-------------+-------+---------+-------+----+-------+------------+----+-------+-----+
|          car|  price|     body|mileage|engV|engType|registration|year|  model|drive|
+-------------+-------+---------+-------+----+-------+------------+----+-------+-----+
|         Ford|15500.0|crossover|     68| 2.5|    Gas|         yes|2010|   Kuga| full|
|Mercedes-Benz|20500.0|    sedan|    173| 1.8|    Gas|         yes|2011|E-Class| rear|
|Mercedes-Benz|35000.0|    other|    135| 5.5| Petrol|         yes|2008| CL 550| rear|
|Mercedes-Benz|17800.0|      van|    162| 1.8| Diesel|         yes|2012|  B 180|front|
|Mercedes-Benz|33000.0|    vagon|     91|  NA|  Other|         yes|2013|E-Class| null|
+-------------+-------+---------+-------+----+-------+------------+----+-------+-----+
only showing top 5 rows

In [21]:
df_ps = df_ps.drop("body","registration","model","drive")

In [22]:
df_ps1 = df_ps.withColumn("new_col",df_ps["mileage"]+2)

In [24]:
df_ps1.show()

+-------------+---------+-------+----+-------+----+-------+
|          car|    price|mileage|engV|engType|year|new_col|
+-------------+---------+-------+----+-------+----+-------+
|         Ford|  15500.0|     68| 2.5|    Gas|2010|     70|
|Mercedes-Benz|  20500.0|    173| 1.8|    Gas|2011|    175|
|Mercedes-Benz|  35000.0|    135| 5.5| Petrol|2008|    137|
|Mercedes-Benz|  17800.0|    162| 1.8| Diesel|2012|    164|
|Mercedes-Benz|  33000.0|     91|  NA|  Other|2013|     93|
|       Nissan|  16600.0|     83|   2| Petrol|2013|     85|
|        Honda|   6500.0|    199|   2| Petrol|2003|    201|
|      Renault|  10500.0|    185| 1.5| Diesel|2011|    187|
|Mercedes-Benz|  21500.0|    146| 1.8|    Gas|2012|    148|
|Mercedes-Benz|  22700.0|    125| 2.2| Diesel|2010|    127|
|       Nissan|20447.154|      0| 1.2| Petrol|2016|      2|
|Mercedes-Benz|  20400.0|    190| 1.8|    Gas|2011|    192|
|Mercedes-Benz|  22500.0|    164| 1.8|    Gas|2012|    166|
|          BMW|   4700.0|    200|  NA| Petrol|1996|    202|
|Mercedes-Benz|  21500.0|    159| 1.8|    Gas|2012|    161|
|          BMW|  19999.0|    290| 4.8| Petrol|2006|    292|
|          BMW| 129222.0|      2|   5| Petrol|2016|      4|
|Mercedes-Benz|  99999.0|      0|   3| Petrol|2016|      2|
|       Nissan|  16600.0|     83|   2| Petrol|2013|     85|
|          BMW|  73900.0|     57| 4.4| Petrol|2013|     59|
+-------------+---------+-------+----+-------+----+-------+
only showing top 20 rows